/* This css file is kept for further changes regarding drag and drop. Currently not in use */
.drop-area {
    width: 100%;
    height: 100%;
    border: 1px dashed #dcdcdc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    background: blue;
}

.hide-drop {
    opacity: 0;
    background: #000;
}
